$colorPurple:#8021FE;
$colorGray:#E8EBEF;
$colorBlack:#111;
:root{
  --bs-primary:$colorPurple !important;
}
.btn-primary{
  background-color: $colorPurple !important;
  border-color: $colorPurple !important;
}
.link{
  color: $colorPurple;
  text-decoration: none;
  &:hover{
    color:$colorPurple;
  }
}